body {
    color: #2B3236;
}

.questionContainer {
    padding: 2rem 2.5rem;
}

.answerBox {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 6px;
    background-color: #2B3236;
    font-size: 3rem;
}

.answerBox:hover {
    cursor: pointer;
    box-shadow: 0px 0px 19px -3px rgba(183, 124, 119, 0.8);
    transform: scale(1.02);
    transform: transform 100ms;
}

.answer {
    padding: 2rem 2.5rem;
    color: white;
}

.answerText {
    padding: 2rem;
    width: 100%;
}

#game {
    background: url('../images/magic-background.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    max-width: 80rem;
    max-height: 80rem;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 19px -3px rgba(183, 124, 119, 0.8);
}

.correct {
    background: linear-gradient(32deg, rgba(6, 77, 36) 0%, rgb(25, 185, 25) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(90, 24, 24) 0%, rgb(241, 35, 41, 1) 100%);
}

/* Heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hudPrefix {
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
}

.hudMainText {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: green;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .answerBox {
        min-width: 40rem;
    }

    #game {
        min-width: 40rem;
        min-height 100%;
        padding: 5px;
        max-width: 100%;
        max-height: 100%;
    }

    .questionContainer {
        padding: none;
        text-align: center;
        border: 1px solid red;
    }
}