@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');

body {
    background-color: #2B3236;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
    color: #94928C;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    color: #B78C77;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none;
}

#home {
    background: url('../images/magic-background.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    max-width: 80rem;
    max-height: 80rem;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 19px -3px rgba(183, 124, 119, 0.8);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

/* Default Button */
.button-default {
    color: #ffffff;
    background-color: #2B3236;
}

/* Hover Effect */
.button-default:hover {
    background-color: #75929e;
}

.button(disabled):hover {
    cursor: not-allowed;
    transition: none;
}

/* End page CSS */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0px 0px 19px -3px rgba(183, 124, 119, 0.8);
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}